body {
    background-image: url("pictures/pass1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.text1 {
    font-weight:bold;
    margin-top:150px;
    margin-left:700px;
}
.text2 {
    font-weight:bold;
    margin-top: 100px;
    margin-left: 500px;
}
.text3 {
    font-weight:bold;
    margin-left: 1700px;
}
.text4 {
    font-weight:bold;
    margin-top:390px;
    margin-left:1200px;
}
.text5 {
    font-weight:bold;
    margin-top:70px;
    margin-left:1200px;
}
.text6 {
    font-weight:bold;
    margin-left:1200px;
    margin-top:30px;
}

.text7 {
    font-weight:bold;
    margin-left: 1000px;
    margin-top:30px;

}
.text8 {
    font-weight:bold;
    margin-left: 1800px;
    margin-top: -15px;

}
.text9 {
    font-weight:bold;
    margin-left:1000px;
    margin-top:30px;
}
.photo {
    margin-left: 175px;
    margin-top: -200px;
}
.proof {
    margin-left:1500px;
    margin-top:-700px;
}